/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL STYLES */ 

*{
  box-sizing: border-box;
}

html{
  font-size:62.5%;
}
/* 1 REM equals 10px */

html, body, #root, .App {
  height: 100%;
}

.App{
  background: darkgray;
  font-size: 2rem;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column-reverse;
  justify-content:space-between;
  align-items: center;
  border: 1px solid red;
  background-image: url("./images/starry-night-trees.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: nowrap;
}

.header{
  margin: 1rem;
  padding: 1rem;
  display: flex;
}

.header-button{
  font-size: 3rem;
  border: 0.3rem dashed black;
  background-color:yellow;
  opacity: 20%;
  margin: 1rem;
  transform: rotate(-20deg);
  transition-duration: 0.4s;
}

.journal{
  background-color: ghostwhite;
  border: 2px dashed grey;
  border-radius: 50%;
  opacity: 20%;
  list-style: none;
  margin: 0.6rem;
  padding: 1rem;
  flex-grow: 2;
  justify-content: space-between;
  text-align: center;
  max-width: 50%
}

.journal-item{
  background-color: white;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  opacity: 80%;
}